<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="InTheHand.Devices.Bluetooth" version="4.0.1803.22-preview" targetFramework="net45" />
  <package id="InTheHand.Forms" version="1.0.2019.118" targetFramework="net45" />
  <package id="InTheHand.Pontoon" version="10.2018.3.19" targetFramework="net45" />
  <package id="Network.Bluetooth" version="4.0.1803.22" targetFramework="net45" />
  <package id="Xamarin.Forms" version="2.4.0.91020" targetFramework="net45" />
</packages>